<section class="categoriesBox text-center rowdies-regular">
    <h3>SHOP BY CATEGORIES</h3>
    <div class="scroller">
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4>Ayurvedic</h4>
                <img src="assets/images/ayurvedic.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Baby<br>Care</h4>
                <img class="others" src="assets/images/babyPr.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Daily<br>Products</h4>
                <img class="others" src="assets/images/daily.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Family<br>Nutrition</h4>
                <img class="others2" src="assets/images/family.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Feminine<br>Hygiene</h4>
                <img src="assets/images/feminine.png" alt="">
            </div>
        </div>
    </div>
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4 id="categoryName">Homepathic</h4>
                <img class="others" src="assets/images/homeopathy.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Medicines</h4>
                <img class="others" src="assets/images/medicine.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Orthopaedics</h4>
                <img class="others2" src="assets/images/ortho.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Sanitizers<br>& Masks</h4>
                <img class="others2" src="assets/images/sanitizer.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Vitamins &<br>Supplements</h4>
                <img class="others" src="assets/images/vitamins.png" alt="">
            </div>
        </div>
    </div>
    </div>
</section>